<!--<table class="books">-->
  <!--<tbody>-->
  <!--<tr book-row *ngFor="let b of books" [book]="b"></tr>-->
  <!--</tbody>-->
<!--</table>-->

<div class="table-wrapper">
  <td-data-table
    [data]="sortedData"
    [columns]="columns"
    [sortable]="true"
    [sortBy]="sortBy"
    [sortOrder]="sortOrder"
    (sortChange)="sort($event)">
    <template tdDataTableTemplate="edit" let-value="value" let-row="row" let-column="column">
      <div layout="row">
        <md-icon (click)="openBook(row)" class="action">create</md-icon>
      </div>
    </template>
    <template tdDataTableTemplate="download" let-value="value" let-row="row" let-column="column">
      <div layout="row">
        <md-icon (click)="download(row)" class="action">file_download</md-icon>
      </div>
    </template>
  </td-data-table>
</div>

