.books {
  width: 100%;
  overflow: hidden;
  table-layout: fixed;
  word-wrap: break-word;
  border: 1px solid #999;
}

.table-wrapper {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  width: 100%;
  overflow: hidden;
  table-layout: fixed;
  word-wrap: break-word;
}

:host /deep/ th {
  background-color: #80deea;
}

:host /deep/ tr:nth-child(even) {
  background-color: #e0f7fa;
}

:host /deep/ .action:hover {
  cursor: pointer;
}

