:host {
  width: 100%;
}

.login {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

span, p {
  display: inline;
}

.link {
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}

.search-and-logout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.search-and-logout .searchbox {
  flex-grow: 1;
  max-width: 800px;
}

