<div *ngIf="!isLoggedIn()" class="login">
  <span class="title">Книги Чятика</span>
  <span>
     <p>Приветики, </p>
     <span (click)="login()" class="link">войдешь</span>
     <p>?</p>
  </span>
</div>
<div *ngIf="isLoggedIn()" class="search-and-logout">
  <md-button-toggle-group [value]="mode" (change)="onToggle($event)">
    <md-button-toggle value="card"><md-icon>view_module</md-icon></md-button-toggle>
    <md-button-toggle value="table"><md-icon>view_headline</md-icon></md-button-toggle>
  </md-button-toggle-group>
  <search-box (search)="search($event)" class="searchbox"></search-box>
  <div class="logout">
      <span>{{ userName() }}, </span>
      <span (click)="logout()" class="link">надоело</span>
      <span>?</span>
  </div>
</div>
