<md-input-container class="search-container">
  <md-icon class="search-icon">search</md-icon>
  <input mdInput maxlength="30" [(ngModel)]="searchTerm" (keyup)="onSearch()">
  <md-icon class="clear-icon" (click)="clear()">clear</md-icon>
</md-input-container>
