:host {
  width: 100%;
  margin-right: 10px;
}

.search-container {
  width: 100%;
  position: relative;
}

input {
  padding-left: 30px;
}

.search-icon {
  position: absolute;
  top: 2px;
}

.clear-icon {
  position: absolute;
  right: 0;
}
