<form [formGroup]="bookForm" (submit)="save()">
  <div class="book-edit-container">
    <md-input-container>
      <textarea mdInput
                mdTextareaAutosize
                #autoSizer="mdTextareaAutosize"
                placeholder="Название"
                [formControl]="bookForm.controls['title']"></textarea>
    </md-input-container>
    <md-input-container>
      <input
        mdInput
        placeholder="Автор"
        [formControl]="bookForm.controls['author']">
    </md-input-container>
    <img src="{{book.thumbnailLink}}" class="book-thumbnail">
    <div class="info">
      <p class="info-title">Формат</p>
      <p>{{book.extension}}</p>
    </div>
    <div class="info">
      <p class="info-title">Владелец</p>
      <p>{{book.ownerName}} <{{book.ownerEmail}}></p>
    </div>
    <div class="edit-buttons">
      <hr class="bottom"/>
      <div class="buttons">
        <button md-button type="submit" [disabled]="!bookForm.dirty">Сохранить</button>
        <button md-button (click)="reset()" *ngIf="bookForm.dirty">Отмена</button>
        <button md-button (click)="close()" *ngIf="!bookForm.dirty">Закрыть</button>
      </div>
    </div>
  </div>
</form>
