.book-edit-container {
  width: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

@media only screen and (max-device-width: 600px) {
  .book-edit-container {
    width: 94%;
    padding: 3%;
  }
}

.book-edit-container > * {
  margin-top: 10px;
}

.book-thumbnail {
  margin: auto;
  padding-bottom: 10px;
}

.info-title {
  font-size: 12px;
  color: rgba(0,0,0,0.38);
}

.info p {
  margin: 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.top {
  margin: 13px -20px 23px -20px;
}

hr.bottom {
  margin: 20px -20px 13px -20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
