<toolbar class="navbar" [mode]="mode" [big]="isPc()" (toggle)="onToggle($event)"></toolbar>
<md-sidenav-container>
  <md-sidenav #sidenav [mode]="over" (close)="sidenavClose()" >
    <book-edit *ngIf="isOpened" [book]="currentBook | async"></book-edit>
  </md-sidenav>
  <div class="content">
    <book-grid *ngIf="isCard()" [books]="books | async"></book-grid>
    <book-table *ngIf="isTable()" [books]="books | async"></book-table>
  </div>
</md-sidenav-container>
