.navbar {
  position:fixed;
  width: 100%;
  z-index: 666;
}

.mat-sidenav-container {
  height: 100%;
  padding-top: 64px;
}

.mat-sidenav {
  padding-top: 64px;
  margin: auto;
}

@media only screen and (max-device-width: 600px) {
  .mat-sidenav {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}


