<md-toolbar color="primary" class="mat-elevation-z5">
  <div *ngIf="big" class="toolbar-big">
    <toolbar-big [mode]="mode" (toggle)="onToggle($event)"></toolbar-big>
  </div>
  <div *ngIf="!big" class="toolbar-phone">
    <toolbar-mobile></toolbar-mobile>
  </div>
</md-toolbar>
