<div *ngIf="!isLoggedIn()" class="login">
  <span>Приветики, </span>
  <span (click)="login()" class="link">войдешь</span>
  <span>?</span>
</div>
<div *ngIf="isLoggedIn()" class="search-and-logout">
  <search-box (search)="search($event)" class="searchbox"></search-box>
  <md-icon (click)="logout()" class="logout-icon">exit_to_app</md-icon>
</div>
