:host {
  width: 100%;
  padding-top: 25px;
}

.login {
  width: 100%;
  text-align: right;
}

.search-and-logout {
  display: flex;
  align-items: center;
}

.searchbox {
  flex-grow: 1;
}

.logout-icon {
  padding-bottom: 6px;
  z-index: 1;
}

.link {
  text-decoration: underline;
}

.link:hover,
.logout-icon:hover {
  cursor: pointer;
}


