@import '~@angular/material/core/theming/_all-theme';


// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-cyan);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  background-color: #e9ebee;
  margin: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



