:host {
  width: 250px;
  margin-top: 20px;
  padding: 10px 25px 15px 25px;

  background-color: #ffffff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 2px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.book-thumbnail {
  margin: auto;
}

.title {
  text-indent: 10px;
  margin-bottom: 0px;
  word-wrap: break-word;
}

.book-name {
  color: #000000;
}

.dash,
.book-author {
  color: dimgrey;
  font-style: italic;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.top {
  margin: 13px -20px 23px -20px;
}

hr.bottom {
  margin: 20px -20px 13px -20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
}

