<div class="card-header">
  <p class="title">
    <span class="book-name">{{book.title}}</span>
    <span class="dash" *ngIf="book.author != null">—</span>
    <span class="book-author">{{book.author}}</span>
  </p>
  <hr class="top"/>
</div>
<img src="{{book.thumbnailLink}}" class="book-thumbnail"/>
<div class="card-actions">
  <hr class="bottom"/>
  <div class="buttons">
    <button md-button (click)="download()">Скачать</button>
    <button md-button (click)="openBook()">Редактировать</button>
  </div>
</div>

